!!!
%html
  %head
    %title Results!
    %link(rel="stylesheet" href="")
  %body
    -# Display references
    %pre{:id => "refs"}= @references

    %br
    <button id="copy-button" data-clipboard-target="refs" title="Click to copy references">Copy all to clipboard</button>
    %script{:src => "scripts/ZeroClipboard.min.js"}
    %script{:src => "scripts/clipboard.js"}
    
